<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EmployeePayRollMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Index.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/custom.scss" />

</head>
<body>
    <header class="border-bottom shadow p-3 mb-5 bg-white">
        <div class="navbar">
                <img src="/assets/logo.png" alt="logo" height="57" width="60">
                <div class="logo">
                    <span class="emp-text"><b>EMPLOYEE</b></span><br>
                    <span class="payroll-text"><b>PAYROLL</b></span>
                </div>
            </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3 pt-10 employee-details rounded">
            @RenderBody()
        </main>
    </div>
   
        <footer class="border-top footer text-muted ">
        <div class="container">
            &copy; 2023 - EmployeePayRollMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
         </footer>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
